@model EKContent.web.Models.ViewModels.HomeIndexViewModel
@{
    ViewBag.Title = Model.Page.Title;
}



        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
        @foreach (var page in Model.Pages)
        {
            <li @(Model.Page.Id == page.Id?"class=active":String.Empty)>@Html.ActionLink(page.Title, "Index", "Home", new { id = page.Id }, new { @class = page.IsHomePage()?"brand":String.Empty})</li>
        }
                    </ul>
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a  class="dropdown-toggle" data-toggle="dropdown" href = "#">User Actions<b class="caret"></b></a>
<ul class="dropdown-menu">
... <li><a  href = "@Url.Action(User.Identity.IsAuthenticated ? "Logout" : "Login", "Auth", new { id = Model.Page.Id })">@( User.Identity.IsAuthenticated ? "Logout" : "Login")</a></li>
    @if (User.Identity.IsAuthenticated)
    {
        <li><a  href = "@Url.Action("ChangePassword", "Auth", new { id = Model.Page.Id })">Change Password</a></li>
    }

</ul>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
