@model EKContent.web.Models.ViewModels.StyleSettingsEditViewModel

@{
    ViewBag.Title = "Edit Style Settings";
}

@Html.Partial("Nav", Model.NavigationModel)
<h2>Edit Style Settings</h2>
<div class="well">
@using (Html.BeginForm())
{  

    for (var i = 0; i < Model.Settings.Count; i++ )
    {
@*        @(i%3 == 0?Html.Raw("<div class=row>"):Html.Raw(String.Empty))*@
    <div class="span3 control-group">

    @Html.LabelFor(m => m.Settings[i].Value, Model.Settings[i].Key)
    @Html.HiddenFor(m => m.Settings[i].Key)
    @Html.TextBoxFor(m => m.Settings[i].Value)
    @Html.Help(Model.Settings[i].DefaultValue)

    </div>
@*      @(i % 3 == 0 ? Html.Raw("</div>") : Html.Raw(String.Empty))*@
    }            
    @Html.HiddenFor(m => m.NavigationModel.Page.Id)
    <br clear="all" />
    <div class="form-actions">
    <button type="submit" value="save" class="btn btn-primary btn-large">Save</button>
    <button class="btn btn-large" data-href=@Url.Action("Index", "Home", new { id = Model.NavigationModel.Page.Id })>Cancel</button>

    <button class="btn btn-large btn-warning" data-action-post=@Url.Action("Generate", new { id = Model.NavigationModel.Page.Id })>Generate</button>

<button class="btn btn-large btn-warning" data-action=@Url.Action("Revert", new { id = Model.NavigationModel.Page.Id })>Use Defaults</button>

</div>
        
    
}
</div>
