@model EKContent.web.Models.ViewModels.StyleSettingsEditViewModel

@{
    ViewBag.Title = "Edit Style Settings";
}

@Html.Partial("Nav", Model.NavigationModel)
<h2>Edit Style Settings</h2>
<div class="well">
@using (Html.BeginForm())
{                                 
    @Html.HiddenFor(m => m.NavigationModel.Page.Id)
    <div class="control-group">
    @Html.LabelFor(m => m.StyleSettings.BodyBackgroundColor)
    @Html.TextBoxFor(m => m.StyleSettings.BodyBackgroundColor)
    @Html.ValidationMessageFor(m => m.StyleSettings.BodyBackgroundColor)
    </div>                     

    <button type="submit" value="save" class="btn btn-primary btn-large">Save</button>
    <button class="btn btn-large" data-href=@Url.Action("Index", "Home", new { id = Model.NavigationModel.Page.Id })>Cancel</button>
    
}
</div>