@model EKContent.web.Models.ViewModels.ContentWrapper

@{
    ViewBag.Title = "HTML";
}

 <div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#content-wrapper" href="#collapse@(Model.Idx)">
    <h4>@Model.Content.Title</h4>
 </a>
</div>
<div id="collapse@(Model.Idx)" class="accordion-body collapse@(Model.Idx == 0?" in":String.Empty)">
<div class="accordion-inner">
 @Html.Partial("EditContentControls")
 @Html.Partial("ImageItem")
 @Html.Partial("Body")
 @Html.Partial("File")
  </div>
</div>
</div>