@model EKContent.web.Models.ViewModels.ContentWrapper

@{
    ViewBag.Title = "HTML";
}

        @if (Model.Content.ShowTitle)
        {
    <h4>@Model.Content.Title</h4>
        } 
 @Html.Partial("EditContentControls")
 @if (Model.Content.Image != null)
{
     <div class="row">
    <img src="@Url.Content(String.Format("~/user_images/{0}", @Model.Content.Image.FileName))" />
    </div>
}
 @Html.Raw(ViewBag.Service.RenderImages(Model.Content.Body))
