@model EKContent.web.Models.ViewModels.EditContentItemViewModel

@{
    ViewBag.Title = Model.TitleText();
    ViewBag.SiteTitle = Model.NavigationModel.Site.Title; 
}
@Html.ValidationSummary()
@Html.Partial("Nav", Model.NavigationModel)
<h3>@Model.TitleText()</h3>
@using (Html.BeginForm("EditContent", "Home", FormMethod.Post, new { @class="well"}))
{
    @Html.HiddenFor(m=>m.NavigationModel.Page.Id)
    @Html.HiddenFor(m => m.Mdx)
    @Html.HiddenFor(m => m.Idx)
    <div class="control-group">
    @Html.LabelFor(m => m.Content.Title)
    @Html.TextBoxFor(m => m.Content.Title)
    @Html.ValidationMessageFor(m => m.Content.Title)
    </div>
    <div class="control-group">
    <div style="width:500px">
    @Html.ValidationMessageFor(m => m.Content.Body)
    @Html.TextAreaFor(m => m.Content.Body, new { @class="richText"})
    </div>
   
    </div>
    <div class="control-group">
    @Html.LabelFor(m => m.Content.ShowTitle)
    @Html.EditorFor(m => m.Content.ShowTitle)
    </div>
    <div class="control-group">
    @Html.LabelFor(m => m.Content.Priority)
    <input type="range" min="1" max="100" name="Content.Priority" id="Content_Priority" value=@Model.Content.Priority />
    </div>       

    <button type="submit" value="save" class="btn btn-primary">Save</button>
    <button class="btn" data-href=@Url.Action("Index", new { id = Model.NavigationModel.Page.Id })>Cancel</button>
    
}
