@model EKContent.web.Models.ViewModels.HomeIndexViewModel
@{
    ViewBag.Title = Model.Page.Title;
    ViewBag.SiteTitle = Model.Site.Title;
}
<script>
    $(function () {
        $(".delete").click(function () {
            var form = $(this).parents("form");
            form.attr("action", this.href);
            form.submit();
            return false;
        });
    });
</script>
@Html.Partial("Nav")
@if (Roles.IsUserInRole("Admin"))
{
    <div class="btn-group" style="margin-bottom:5px">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-wrench"></i>Page Actions <span
            class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("EditPage", new { pageId = Model.Page.Id })"><i class="icon-wrench">
            </i>Edit Page</a></li>
            <li><a href="@Url.Action("EditPage", new { parentId = Model.Page.Id })"><i class="icon-plus">
            </i>Add Page</a></li>
            <li class="divider"></li>
            @if (Model.CanDelete())
            {
                <li><a @*data-action="@Url.Action("DeletePage", new { id = Model.Page.Id })"*@ data-toggle="modal" class="btn-danger" href="#myModal"><i class="icon-trash">
                </i>Delete Page</a></li>
            }
            <li><a  href = "@Url.Action("List", "Image", new { id = Model.Page.Id })"><i class="icon-picture"></i>Image Gallery</a></li>
            <li><a  href = "@Url.Action("Edit", "Site", new { id = Model.Page.Id })"><i class="icon-globe"></i>Site Settings</a></li>
        </ul>
    </div>
    
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Warning!</h3>
    </div>
    <div class="modal-body">
    <p>Are you sure you want to delete this page?</p>
    </div>
    <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" data-action="@Url.Action("DeletePage", new { id = Model.Page.Id })">Delete</button>
    </div>
    </div>    
        
}
<br clear="all" />
@{int Mdx = 0;}
@foreach (var module in Model.Page.Modules)
{
    if (Roles.IsUserInRole("Admin"))
    {
    <button data-href="@Url.Action("EditContent", new { Idx = -1, Mdx = Mdx, pageId = Model.Page.Id })" class="btn">
        <i class="icon-plus"></i>Create Content</button>
    }
    int Idx = 0;
    foreach (var item in module.Content)
    {
    <hr />
        if (Roles.IsUserInRole("Admin"))
        {
    <div class="control-group">
        <button data-href="@Url.Action("EditContent", new { Idx = Idx, Mdx = Mdx, pageId = Model.Page.Id }) " class="btn">
            <i class="icon-pencil"></i>Update Content</button>
        <button data-action="@Url.Action("DeleteContent", new { Idx = Idx, Mdx = Mdx, pageId = Model.Page.Id })" class="btn btn-danger">
            <i class="icon-trash"></i>Delete Content</button>
    </div> 

        }
    if (item.ShowTitle)
    {
    <h4>@item.Title</h4>
    }        
    <div>@Html.Raw(ViewBag.Service.RenderImages(item.Body))</div>
        Idx++;
        <hr />
    }

    Mdx++;
}
